:root {
	--rosewater: #F5E0DC;
	--flamingo: #F2CDCD;
	--pink: #F5C2E7;
	--mauve: #CBA6F7;
	--red: #F38BA8;
	--maroon: #EBA0AC;
	--peach: #FAB387;
	--yellow: #F9E2AF;
	--green: #A6E3A1;
	--teal: #94E2D5;
	--sky: #89DCEB;
	--sapphire: #74C7EC;
	--blue: #87B0F9;
	--lavender: #B4BEFE;
	--subtext1: #B3BCDF;
	--subtext0: #A1A8C9;
	--overlay2: #8E95B3;
	--overlay1: #7B819D;
	--overlay0: #696D86;
	--surface2: #565970;
	--surface1: #43465A;
	--surface0: #313244;
	--base: #1E1E2E;
	--mantle: #181825;
	--crust: #11111B;

	--text: #C6D0F5;
	--background : var(--base);  
	--accent : var(--red);
	--darker : var(--mantle);	
}

code{
	background: var(--darker) !important; /* may fuck up in the future */
	font-family: "Courier New", Courier, monospace;
	color:var(--yellow);
	padding-inline:0.4rem;
	border: 0.2rem solid var(--darker);
	border-radius: 2vw;
	padding: 0px 0px;
}

body {
  font-family: "JetBrains Mono", monospace;
  margin: auto;
  padding: 20px;
  max-width: 65ch;
  text-align: left;
  background-color: var(--background);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--text);
}

strong {
  font-family: "JetBrains Mono", monospace;
  font-weight: 900;
}

em {
  font-family: "JetBrains Mono", monospace;
  font-weight: 100;
  font-style: italic;
  font-variant-ligatures: additional-ligatures;
  font-kerning: normal;

   /* this makes it so that the padding _looks_ the same */
  padding-inline-start: 0.3rem;
  padding-inline-end: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: var(--primary);
}
a {
  color: var(--accent);
}
nav a {
  margin-right: 10px;
}
textarea {
  width: 110%;
  font-size: 26px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}

blockquote {
  border: 2px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
}

blockquote > p {
	color: var(--mauve);
}

blockquote h1,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6 {
	color: var(--yellow);
	
}

blockquote h1,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6.required::after{
	content: "";
	display: block;
	border-bottom: 1px solid var(--rosewater);
	margin-right: 1rem;
}